@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --peach: #D86570;
  --lightpeach: #FFEBED;
  --lightgrey: #959595;
}

html {
  /* font-size: 10px; */
}

body {
  overflow-x: hidden;
}

.slick-slide{
  height: auto !important;
}
.main-container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
  padding-top: 5rem;
  scrollbar-width: none;
}

.section-container{
padding: 0rem 4.5rem;
}

.heading{
  font-size: 40px;
  font-weight: bold;
}

.paragraph{
  font-size: 17px;
  font-weight: 400;
}
.subHeading{
  font-size: 30px;
  font-weight: bold;
}
::marker {
  color: var(--peach);
}
 .margin-top-5 {
  margin-top: 5rem;
}
.margin-bottom-5{
  margin-bottom: 5rem;
}

.chat-bg{
  background-image: url('./assets/final-image/images/chat-bg.png');
  background-size: contain;
}

@media (max-width:767px) {
  .main-container {
    padding-top: 4rem;
  }
  
  .section-container{
  padding: 0rem 1.2rem;
  }
  
  .heading{
    font-size: 22px;
    font-weight: bold;
  }
  
  .paragraph{
    font-size: 17px;
    font-weight: 400;
  }
  .subHeading{
    font-size: 17px;
    font-weight: bold;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .main-container {
    padding-top: 4rem;
  }
  
  .section-container{
  padding: 0rem 1rem;
  }
  
  .heading{
    font-size: 25px;
    font-weight: bold;
  }
  
  .paragraph{
    font-size: 17px;
    font-weight: 400;
  }
  .subHeading{
    font-size: 24px;
    font-weight: bold;
  }
}